<p style="color: green"><%= notice %></p>

<%= render @user %>

<div class="btn-group rounded-3" >
  <button class="btn airforce dark-2">
    <%= link_to "Edit this user", edit_user_path(@user) %>
  </button>

  <button class="btn airforce dark-2">
    <%= link_to "Back to users", users_path %>

  </button>

  <button class="btn airforce dark-2">
  <%= link_to "Destroy this user", @user, method: :delete %>
  </button>
</div>
