<div class="container">
  <div id="posts">
    <% @posts.each do |post| %>
      <div class="card shadow-2 rounded-2 white">
        <div class="card-header">
          <%#= link_to "Author", user_path(1) %>
          <a href="/users/<%= post.user_id %>"><%= post.get_author_name %></a>
        </div>
        <div class="card-content">
          <blockquote><%= post.text %></blockquote>
        </div>
        <div class="divider"></div>
        <div class="card-footer">Created at <i><%= post.created_at %></i>
          <% if post.updated_at != post.created_at %> | Updated at <i><%= post.updated_at %></i>
          <% end %></div>
      </div>
    <% end %>
  </div>
</div>

<% if current_user != nil %>
  <div class="floating-new-post blue dark-1 rounded-4 hover-text-dark cursor-pointer">
    <%= link_to "New post", new_post_path %>
  </div>
<% end %>