<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-left: 15px">
    <div style="width: 50vw">
      <div class="form-field">
        <label for="post_text" style="display: block">Content:</label>
        <%= form.text_field :text, style: "width: 50%" %>
      </div>
    </div>

    <br/>

    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>

<script>
    document.getElementById("post_text").classList.add("form-control", "rounded-1");
    document.querySelector("input[type=submit][name=commit]").classList.add("btn", "shadow-1", "rounded-1", "btn-outline", "text-blue");
</script>
