<div id="<%= dom_id post %>">
  <p>
    <strong>Text:</strong>
    <%= post.text %>
  </p>

  <p>
    <strong>Retweet count:</strong>
    <%= post.retweet_count %>
  </p>

  <p>
    <strong>Retweet:</strong>
    <%= post.retweet_id %>
  </p>

  <p>
    <strong>Like counter:</strong>
    <%= post.like_counter %>
  </p>

  <p>
    <strong>Reply at:</strong>
    <%= post.reply_at %>
  </p>

  <p>
    <strong>Out url:</strong>
    <%= post.out_url %>
  </p>

</div>
