<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gazouilly</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.0.1/dist/axentix.min.css">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "design_log_in", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>


</head>

<body class="layout">
<header>
  <%= render template: "layouts/navbar" %>
</header>

<main>
  <p class="notice green dark-2"><%= notice %></p>
  <p class="alert red dark-1"><%= alert %></p>
  <%= yield %>
</main>

<%= render template: "layouts/footer" %>

<script src="https://cdn.jsdelivr.net/npm/axentix@2.0.1/dist/axentix.min.js"></script>
</body>
</html>
