<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gazouilly</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.0.1/dist/axentix.min.css">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>


</head>

<body class="layout">
<header>
  <%= render template: "layouts/navbar" %>
</header>

<main>
  <%= yield %>
</main>

<footer class="footer blue dark-3">
  Copyright © 2022 - Gazouilly
</footer>

<script src="https://cdn.jsdelivr.net/npm/axentix@2.0.1/dist/axentix.min.js"></script>
</body>
</html>
